
.card-pesonalizacao a {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 200px;
  margin: 0 auto;
  border: 1px solid black;
}
.card-pesonalizacao p:last-child {
  position: absolute;
  top: 2px;
  right: 2px;
  color: rgb(0, 0, 0);
  background-color: #ffea27;
  padding: 10px;
}
.card-pesonalizacao img {
  width: 200px;
}